@{
    ViewData["Title"] = "Travel Registration";
}
<h1>@ViewData["Title"]</h1>

<p>Veuillez entrez les détails de votre voyage.</p>
<!--
<form method="post" asp-controller="Home" asp-action="Test">
    <input asp-for="dummy" type="text" name="truc" id="something" />
    <input type="submit" value="Go">

</form>-->




@model Travel_Express.Models.NewTravelModel
<form method="post"  asp-route="RegisterTravel">
    <div class="Start">
        <label for="starting_street">Starting Point: </label><br />
        Addresse de Départ:<br />
        <input asp-for="FromStreet" type="text" name="starting_street" id="starting_street" maxlength="100" /><br />
        <input type="text" name="start_comp" id="start_comp" maxlength="100"><br />
        Code postal:<input type="text" name="start_code" id="start_code" maxlength="10"><br />

        <label for="time1_h">Departure date: </label><br />
        <input type="time" name="time1_h" id="time1_h" required><br />
        <input type="date" name="time1" id="time1" required><br />
    </div>
    <div class="Arrival">
        <label for="arrival_street">Arrival Point: </label><br />
        Addresse d'arrivé:<br />
        <input type="text" name="arrival_street" id="arrival_street" maxlength="100"><br />
        <input type="text" name="arrival_comp" id="arrival_comp" maxlength="100"><br />
        Code Postal:<input type="text" name="arrival_code" id="arrival_code" maxlength="10"><br />

        <label for="time1_h">Departure date: </label><br />
        <input type="time" name="time2_h" id="time2_h" required><br />
        <input type="date" name="time2" id="time2" required><br />
    </div>
    <label for="seats">Siège(s) disponible(s): </label><br />
    <input asp-for="Seats" type="number" name="seats" id="seats" min="1"/>
    <!--
    -->
    <div class="form-example">
        <input type="submit" value="Enregistrer">
    </div>

</form>
