@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Travel Express</h1>
    <p>Covoiturez facile, partagez vos trajets et gagnez de l'argent facilement</p>
</div>
