@{
    ViewData["Title"] = "Home Page";
}


@{
    bool isLogged = User.Identity.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (isLogged)
    {
        string UserEmail = User.Identity.Name;
        <p>You are logged ! @UserEmail </p>
    }
    else
    {
        <p>Sadly, you are not logged</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
