@{
    ViewData["Title"] = "Home Page";
}


@{
    bool isLogged = User.Identity.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">Travel Express</h1>
    @if (isLogged)
    {
        string UserEmail = User.Identity.Name;
        <p>Vous êtes connecté ! @UserEmail </p>
    }
    else
    {
        <p>Malheureusement vous n'êtes pas connecté</p>
    }
    <p>Covoiturez facile, partagez vos trajets et gagnez de l'argent facilement</p>
</div>
